<div class="footer-inner">
  <div class="footer-left">
    <p class="footer-label">ARTIENCE 문의</p>
    <p class="footer-email">artience@artience.com</p>
    <p class="footer-phone">+82 2 3274 0209</p>

    <p class="footer-address">
      주소 : 서울특별시 마포구 양화로 45 세아타워 12층 12F, Seah Tower, 45
      Yanghwa-ro, Mapo-gu, Seoul, Korea<br />
      Tel : +82 2 3274 0209 Fax : +82 2 326 0208 Email : artience@artience.com
    </p>
  </div>

  <div class="footer-right">
    <div class="footer-logo-wrap">
      <img
        src="/assets/logo/logo-black.svg"
        alt="ARTIENCE"
        class="footer-logo"
      />
      <p class="footer-slogan">COMPLETE YOUR TRUE VALUE</p>
    </div>
    <p class="footer-copy">© 2025 Artience. All rights reserved.</p>
  </div>
</div>
